<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Tooplate">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='assets/images/download.png') }}" type="image/x-icon">
  <title>EventScope</title>
  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/owl-carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/tooplate-artxibition.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/search.css') }}">
  <style>
    .event-list {
      list-style: none;
      padding: 0;
    }
    .event-list li {
      margin-bottom: 10px;
    }
    .button {
      border: none;
      color: white;
      padding: 5px 20px;
      text-align: centre;
      text-decoration: none;
      /*display: inline-block;*/
      font-size: 15px;
      /*margin: 4px 2px;*/
      cursor: pointer;
      background-color: black;
    }
    .fixed {
      position: fixed;
      right: 10px;
      left: 10px;
    }
  </style>
</head>
<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  <!-- ***** Pre HEader ***** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="text-button" style="padding-left: 394px;">
          <a href="#footer">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12i">
          <!--search box-->
          <div class="search-box" style="margin-top: -12px;">
            <div class="row">
              <input type="text" id="myInput" placeholder="   Search..." autocomplete="off">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div id="suggestion-box"></div>
          </div>
            <!--search box end-->
            <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{ url_for('index') }}" class="logo">Event<em>Scope</em></a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>
              <li><a href="{{ url_for('event_details') }}" class="{% if active_page == 'events' %}active{% endif %}">Events</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <!-- ***** About Us Page ***** -->
  <div class="page-heading-rent-venue">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Event Details</h2>
          <span>Check out our latest Shows & Events and be part of us.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="shows-events-schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Event Listing</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <ul class="event-list">
              {% for college_data in scraped_data.colleges %}
              <li>
                  <strong>{{ college_data.college }}</strong>
                  <br>
                  {% for event in college_data.events %}
                      {% if event.strip() %}
                          {{ event.strip() }}<br> <!-- Strip extra spaces or newlines -->
                      {% endif %}
                  {% endfor %}
                  <br>
                  <a href="{{ college_data.url }}" class="btn btn-dark btn-lg btn-block" role="button" data-bs-toggle="button">COLLEGE LINK</a>
              </li>
              {% endfor %}
              <li>
              <strong>Other Events</strong><br>
              {% for other_event in other_events %}
                  {{ other_event.college }} : {{ other_event.events|join(' ') }}<br>
              {% endfor %}
            </li>
          </ul>
        </div>      
      </div>
    </div>
  </div>

  <!-- *** Subscribe *** -->
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Subscribe Our Newsletter:</h4>
        </div>
        <div class="col-lg-8">
          <form id="subscribe" action="" method="get">
            <div class="row">
              <div class="col-lg-9">
                <fieldset>
                  <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                </fieldset>
              </div>
              <div class="col-lg-3">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Footer ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="address">
            <h4>CODE OF ETHICS</h4>
            <p>We are committed to ethical data scraping practices. Transparency is paramount, and we will clearly communicate the purpose of data collection and its use. We respect user privacy, ensuring data anonymization whenever possible.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="links">
            <h4>COMPANY</h4>
            <ul>
              <li><a href="{{ url_for('about') }}">About us</a></li>
              <li><a href="#footer">Contact</a></li>
              <li><a href="{{ url_for('event_details') }}">Event</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="hours">
            <div id="footer">
              <h4>CONTACT US</h4>
              <ul>
                <li>chn21cs046@ceconline.edu</li>
                <li>COLLEGE OF ENGINEERING</li>
                <li>CHENGANNUR</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="under-footer">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
              </div>
              <div class="col-lg-6 col-sm-6">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="sub-footer">
            <div class="row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-6">
                <div class="menu">
                  Copyright 2024 EventScope Company
                </div>
              </div>
              <div class="col-lg-3">
                <div class="social-links">
                  <ul>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer End ***** -->
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
  <!-- Plugins -->
  <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/mixitup.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/accordions.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/search.js') }}"></script>
  <!-- Global Init -->
  <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
</body>
</html>
