<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='assets/images/download.png') }}" type="image/x-icon">
    <title>EventScope</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/owl-carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/tooplate-artxibition.css') }}">
    <!--

Tooplate 2125 ArtXibition

https://www.tooplate.com/view/2125-artxibition

-->
</head>
<style>
    .carousel {
        margin-top: 0px;
    }
    .carousel-inner {
        height: 200px; /* Adjust the height as needed */
        background-color: #484747;
    }
    .carousel-caption {
        color: #fff;
        top: 100px;
    }
    .carousel-control-prev-icon {
        margin-top: 10px;
    }
    .carousel-control-next-icon {
        margin-top: 10px;
    }
</style>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Pre HEader ***** -->
    
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span></span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button" style="padding-left: 394px;">
                        <a href="#footer">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
   

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ url_for('index') }}" class="logo">Event<em>Scope</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                                <li><a href="{{ url_for('about') }}">About Us</a></li>
                                <li><a href="{{ url_for('event_details') }}">Events</a></li>
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                            </ul>


                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">

                        <h6>you are at the right place</h6>
                        <h2>Never miss a beat!</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-01.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-02.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-03.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-04.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-01.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-02.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-03.jpg') }}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img src="{{ url_for('static', filename='assets/images/show-events-04.jpg') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- *** Amazing Venus ***-->
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-content">
                        <h4>Introducing EventScope: Your Gateway to College Events Across the Region</h4>
                        <p>EventScope is an online platform designed to keep students, faculty, and visitors informed
                            about upcoming events happening across various colleges in the locality. This website serves
                            as a central hub for discovering, tracking, and participating in a wide range of events,
                            including academic lectures, workshops, cultural festivals, sports tournaments, and more.
                        </p>
                        <br>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>

<!-- *** Carousel ***-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        {% for college_data in scraped_data['colleges'] %}
            {% for event in college_data['events'] %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="event">
                        <div class="event-details">
                            <h3 style="color:white;" class="carousel-caption">{{ event }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
</div>
      <br>

    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Venues</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="https://th.bing.com/th/id/OIP.lA3gDtNkAAk8qAItA_TvkgAAAA?w=153&h=180&c=7&r=0&o=5&cb=10&dpr=1.3&pid=1.7"
                                alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="https://nitc.ac.in/upcoming-events">Register</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>NIT CALICUT</h4>
                                <p>A description should be addded here</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="https://img.collegepravesh.com/2017/11/CET-Trivandrum-Logo.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="https://www.cet.ac.in/category/events/">Register</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>CET TRIVANDRUM</h4>
                                <p>A description should be addded here</p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='assets/images/venue-03.jpg') }}" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="ticket-details.html">Register</a>
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>IIT PALAKKAD</h4>
                                <p>A description should be addded here</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>CODE OF ETHICS</h4>
                        <p>We are committed to ethical data scraping practices. Transparency is paramount, and we will
                            clearly communicate the purpose of data collection and its use. We respect user privacy,
                            ensuring data anonymization whenever possible.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>COMPANY</h4>
                        <ul>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="#footer">Contact</a></li>

                            <li><a href="event-details.html">Event</a></li>
                            <li><a href="login.html">Login</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="footer">
                    <div class="hours">
                        <h4>CONTACT US</h4>
                        <ul>
                            <li>chn21cs002@ceconline.edu</li>
                            <li>COLLEGE OF ENGINEERING</li>
                            <li>CHENGANNUR</li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">

                            </div>
                            <div class="col-lg-6 col-sm-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    Copyright 2024 EventScope Company

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/mixitup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>

    <!-- Global Init -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var carousel = new bootstrap.Carousel(document.querySelector('#carouselExampleControls'), {
            interval: 2000
        });

        carousel._element.addEventListener('slid.bs.carousel', function() {
            var activeItem = this.querySelector('.carousel-item.active');
            var carouselItems = Array.from(this.querySelectorAll('.carousel-item'));
            carouselItems.forEach(function(item) {
                if (item !== activeItem) {
                    item.classList.remove('active');
                }
            });
        });
    });
</script>


</html>
